{% extends 'flash.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="900;" />
    <title>Profile</title>
</head>
<body>
{% block body %}
<label>File Input:</label>
<form action="/profile/{{ username }}" method=POST enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
</form>
    {% if file_list %}
        <label>Analysis For:</label><div></div>
    {% for file in file_list %}
        <label>{{ file }}</label>
        <form action="/profile/{{ username }}/{{ file }}">
         <input type=submit value=Download></form>
    {% endfor %}
    {% endif %}
<div></div>
    <form action="/logout/{{ username }}" method=POST>
         <input type=submit value=Logout></form>

{% endblock %}
</body>
</html>